table{
    border-collapse:collapse;
    border:1px solid #555;
}
.wordName {
    width:100px;
    height: 30px;
    border: 1px solid rgb(124, 124, 124);
}
.wordParaphrase
{
    width:400px;
    height: 30px;
    border: 1px solid rgb(124, 124, 124);
}