body{
    height: 100vh;
    margin:0;
    display:grid;
    place-items: center;
    background-color: #cfe4f5;

}
p{
    text-align: center;
    text-transform: uppercase;
    width: 100px;
    font-weight: bold;
    font-size: 15px;
    color: #774f38;
    background-color: #ffedd5;
    padding: 50px;
    box-shadow: 20px 20px #839aaf;
    border-radius: 11px;
    animation: float 5s ease-in-out infinite;
}

.HomePageLink{
    color: #774f38;
    text-decoration:none;
}
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}